<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stockholm.fota"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".FotaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="fota_configuration_product_id"
            android:value="string/1505940411" />
        <meta-data
            android:name="fota_configuration_product_secret"
            android:value="string/fce7cd6f2b554136b5a9a3d25f4bc011" />

        <service android:name="com.adups.mqtt_libs.mqtt_service.MqttService" />
        <service android:name="com.adups.iot_libs.service.OtaService" />
        <!--<service android:name="com.adups.iot_libs.service.JobSchedulerService" />-->

        <receiver android:name="com.adups.iot_libs.receiver.UpgradeReceiver">
        <intent-filter android:priority="2147483647">
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>

        <receiver android:name=".receiver.FotaReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.stockholm.action.BIND_SUCCESS" />
            </intent-filter>
        </receiver>

        <receiver android:name=".push.PushReceiver">
            <intent-filter>
                <action android:name="com.stockholm.meow.push.broadcast.action" />
            </intent-filter>
        </receiver>

        <service android:name=".push.PushMessageService" />

        <service android:name=".engine.AlarmService" />

        <service android:name=".log.MLogService" />

        <service
            android:name=".ota.FotaService"
            android:enabled="true"
            android:exported="true" />

    </application>
</manifest>
